@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-opensans;
}

.custom-container {
    @apply xl:w-[1160px] lg:w-[984px] 2xl:w-[1280px] mx-auto px-6;
}

.text-theme {
    @apply lg:tracking-[1.008px] 2xl:tracking-[1.134px] lg:text-base 2xl:text-lg 2xl:leading-6;
}

.flex-center{
    @apply flex items-center justify-center;
}

.page-header {
    .logo {
        img {
            transition: all 0.5s;
        }
    }

    &.is-fixed {
        .header-inner {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 99;
        }

        .logo{
            img {
                max-height: 50px;
            }
        }
    }
}

.header-nav {
    .link-dropdown {
        .menu-dropdown {
            @apply hidden
        }

        &.active {
            .icon-arrow-down {
                @apply rotate-180;
            }

            .menu-dropdown {
                @apply flex
            }
        }
    }
}

.nav-mobile {
    @apply left-[-150%];
    line-height: normal;
    letter-spacing: normal;

    a {
        @apply text-[22px];
    }

    &.is_show {
        @apply left-0;
    }
}

.form-search{
    @apply hidden;

    &.is_show {
        @apply flex;
    }
}

input {
    @apply outline-none;
    line-height: normal
}

.button-primary {
    @apply text-white bg-primary hover:bg-primaryLight py-2 px-8 text-base font-bold min-h-[56px];
}

.button-primary-small {
    @apply text-white bg-primary hover:bg-primaryLight py-1 px-4 text-sm 2xl:text-base font-bold min-h-[40px];
}

.category-item {
    span {
        transition: all 0.3s ease;
    }

    a, img{
        transition: all 0.3s ease;
    }

    &:hover {
        a {
            background: transparent;
            
            span {
                transform: scale(1);
                text-shadow: 2px 4px 2px rgba(0,0,0,0.2);
            }
        }

        img {
            transform: scale(1.05);
        }
    }
}

input#email-subscribe:focus{
    box-shadow: currentcolor 0px 0px 0px 1px inset;

    + label{
        @apply text-red1 top-2 text-[12px];
    }
}